.dHeader {
    background-color: rgb(238, 238, 238);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: $dTurquoise;
}

.nav-link{
    color:$dTurquoise !important;
}

   .dH {

    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: $dTurquoise !important;
 }

  .linkAccounts{
     
    color:$dTurquoise !important;
    text-decoration: none;
  
  }

 
  

    .userAvatar{
       justify-content: end;
    }

   

   

@media screen and (min-width:1200px) {


/* 
.btnNavHeader{
    display:contents;
} */
}


@media screen and (max-width:1200px) {

  

 


}

@media screen and (max-width:1000px) {
    
 /*    .navBtn{
        display: none;
   
     } */

   
    
}

 @media screen and (max-width:990px) {
    .avatareBtn{
    display:none;
  }

  .nav-link{
      display: none;
  }
 
  .navSmall{
      width:100% !important; 
  }

}
    



@media screen and (max-width:767px) {

   
   
  
}

@media screen and (max-width:575px) {


/* 
    .btnNavHeader{
        display: none;
    } */

}
 
  


