.dNavbar{
    background-color: rgb(238, 238, 238);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: $dTurquoise !important;
}

.dNavbar1{
    font-weight: bold;
    color: $dTurquoise !important;
}

.dNavbar2{
    font-weight: bold !important;
    color: $dTurquoise !important;
    background-color:white !important;
}

.btn-outline-success{
    border-color: $dTurquoise !important;
}