.bShAcconuts {
    background-color: rgb(65, 211, 211);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    width: 55px;
  
}


.bShAcconuts2 {
    background-color: rgb(65, 211, 211);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    width: 105px;
    margin-left:2px;
}
