@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Licorice&family=Mochiy+Pop+P+One&display=swap");
.divAc {
  border: 1px solid #9c9999;
  margin-top: 50px;
  border-radius: 10px;
}

.divAc .accountH1 {
  color: #21b1b1;
}

.form-demo .card {
  min-width: 450px;
}

.form-demo .card form {
  margin-top: 2rem;
}

.form-demo .card .p-field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .form-demo .card {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .form-demo .card {
    width: 100%;
    min-width: 0;
  }
}

.divSin {
  border: 1px solid #9c9999;
  margin-top: 50px;
  border-radius: 10px;
}

.divSin .signH1 {
  color: #a3a0a0;
}

.dHeader {
  background-color: #eeeeee;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #21b1b1;
}

.nav-link {
  color: #21b1b1 !important;
}

.dH {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #21b1b1 !important;
}

.linkAccounts {
  color: #21b1b1 !important;
  text-decoration: none;
}

.userAvatar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (min-width: 1200px) {
  /* 
.btnNavHeader{
    display:contents;
} */
}

@media screen and (max-width: 1000px) {
  /*    .navBtn{
        display: none;
   
     } */
}

@media screen and (max-width: 990px) {
  .avatareBtn {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .navSmall {
    width: 100% !important;
  }
}

@media screen and (max-width: 575px) {
  /* 
    .btnNavHeader{
        display: none;
    } */
}

.bShAcconuts {
  background-color: #41d3d3;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  width: 70px;
}

.sideNav {
  position: fixed;
  left: 0;
}

.sideNav a:hover {
  color: #0c0c0b;
}

.sideNav a {
  background-color: #e7ebeb;
  border-radius: 0px 25px 25px 0px;
  padding: 8px 8px 8px 32px;
  display: block;
  color: #41d3d3;
  border: 1px solid white;
}

.sideNav a i {
  margin: 3px;
  font-size: 30px;
}

/*   
@media  screen and (max-width:575){
    .sideNav a{
        font-size:20px !important;
    }
    
} */
.btn-google-login {
  border: 1px solid #d8d7d7;
  background-color: white;
  height: 70px;
  width: 200px;
}

.btn-google-logout {
  height: 70px !important;
}

.btnSignin {
  font-size: 14px;
  text-decoration: none;
  width: 200px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  border: 1px solid transparent;
  font-weight: 500;
  text-align: center;
  padding: 19px;
  height: 70px;
}

.div-home {
  margin-top: 50px;
}

.page404H1 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #21b1b1;
  font-size: 100px;
}

.btn-google {
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: white;
}

.dNavbar {
  background-color: #eeeeee;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #21b1b1 !important;
}

.dNavbar1 {
  font-weight: bold;
  color: #21b1b1 !important;
}

.dNavbar2 {
  font-weight: bold !important;
  color: #21b1b1 !important;
  background-color: white !important;
}

.btn-outline-success {
  border-color: #21b1b1 !important;
}

.styleError {
  background-color: #ec6767;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
}

html {
  font-size: 14px;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.customer-badge.status-qualified {
  background-color: #C8E6C9;
  color: #256029;
}

.customer-badge.status-unqualified {
  background-color: #FFCDD2;
  color: #C63737;
}

.customer-badge.status-negotiation {
  background-color: #FEEDAF;
  color: #8A5340;
}

.customer-badge.status-new {
  background-color: #B3E5FC;
  color: #23547B;
}

.customer-badge.status-renewal {
  background-color: #ECCFFF;
  color: #694382;
}

.customer-badge.status-proposal {
  background-color: #FFD8B2;
  color: #805B36;
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}

.product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}

.product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}

.order-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}

.order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}

.order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}

.order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}

.image-text {
  vertical-align: middle;
  margin-left: .5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: .125rem;
}

.p-column-filter {
  width: 100%;
}

.country-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country-item img.flag {
  width: 18px;
  margin-right: .5rem;
}

.flag {
  vertical-align: middle;
}

span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}

img.flag {
  width: 30px;
}
/*# sourceMappingURL=main.css.map */